<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.talend.designer.runprocess.jobLaunchConfiguration">
<stringAttribute key="CURRENT_PROJECT_NAME" value="TalendEjemplos"/>
<stringAttribute key="TALEND_JOB_ID" value="_29M_EHzdEeagG6JfcB134g"/>
<stringAttribute key="TALEND_JOB_NAME" value="Parte_05"/>
<stringAttribute key="TALEND_JOB_VERSION" value="0.1"/>
</launchConfiguration>
